<h2>Редактировать чат</h2>

<%= form_for(@chat) do |f| %> 
  <div class='form-group'>
    <%= f.label :chat_name, 'Название чата', class: 'form-label mt-3' %>
    <%= f.text_field :chat_name, class: 'form-control' %>
  </div>
  <%= f.submit "Сохранить", class: 'btn btn-dark mt-3' %>
<% end %>
