<h2> Список чатов </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название чата</th>
      <th scope="col">Связь с группой</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <th scope="row"><%= chat.chat_id %></th>
        <td><%= chat.chat_name %></td>
        <td>
          <% chat.groups.each do |group| %>
            <%= group.group_name %>;
          <% end %>
        </td>
        <td>
          <%= link_to "✎  Редактировать", edit_chat_path(chat), class: 'btn btn-outline-secondary w-100' %>
        </td>
    <% end %>
  </tbody>
</table>


